<% binding.pry %> 

Team 1: <%= @t1.name %><br> 
Team 2: <%= @t2.name %><br> 
Team 3: <%= @t3.name %><br> 
Team 4: <%= @t4.name %><br> 
Team 5: <%= @t5.name %><br> 
Team 6: <%= @t6.name %><br> 
Team 7: <%= @t7.name %><br> 
Team 8: <%= @t8.name %><br> 
Team 9: <%= @t9.name %><br> 
Team 10: <%= @t10.name %><br> 

<br> <br> <br> 
<a class="button" href="/start"> Start Game </a> 