<form method="post" action="/after_trivia_sheet">

    Round 1: <br> 
    &nbsp; Question 1: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r1q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r1q1"> <br> <br>    

    Round 1: <br> 
    &nbsp; Question 2: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r1q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r1q2"> <br> <br>  
    
    Round 1: <br> 
    &nbsp; Question 3: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r1q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r1q3"> <br> <br>  
    
    Round 1: <br> 
    &nbsp; Question 4: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r1q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r1q4"> <br> <br>  
    
    Round 2: <br> 
    &nbsp; Question 1: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r2q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r2q1"> <br> <br>  

    Round 2: <br> 
    &nbsp; Question 2: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r2q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r2q2"> <br> <br>  

    Round 2: <br> 
    &nbsp; Question 3: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r2q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r2q3"> <br> <br>  

    Round 2: <br> 
    &nbsp; Question 4: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r2q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r2q4"> <br> <br>  

    Round 3: <br> 
    &nbsp; Question 1: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r3q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r3q1"> <br> <br>  

    Round 3: <br> 
    &nbsp; Question 2: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r3q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r3q2"> <br> <br>  

    Round 3: <br> 
    &nbsp; Question 3: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r3q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r3q3"> <br> <br>  

    Round 3: <br> 
    &nbsp; Question 4: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r3q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r3q4"> <br> <br>  

    Round 4: <br> 
    &nbsp; Question 1: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r4q1"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r4q1"> <br> <br>  

    Round 4: <br> 
    &nbsp; Question 2: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r4q2"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r4q2"> <br> <br> 

    Round 4: <br> 
    &nbsp; Question 3: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r4q3"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r4q3"> <br> <br>  

    Round 4: <br> 
    &nbsp; Question 4: <br>  
    &nbsp; &nbsp; <%= "#{@team1name}'s" %> Score: <input type="number" name="t1r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team2name}'s" %> Score: <input type="number" name="t2r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team3name}'s" %> Score: <input type="number" name="t3r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team4name}'s" %> Score: <input type="number" name="t4r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team5name}'s" %> Score: <input type="number" name="t5r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team6name}'s" %> Score: <input type="number" name="t6r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team7name}'s" %> Score: <input type="number" name="t7r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team8name}'s" %> Score: <input type="number" name="t8r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team9name}'s" %> Score: <input type="number" name="t9r4q4"> <br><br> 
    &nbsp; &nbsp; <%= "#{@team10name}'s" %> Score: <input type="number" name="t10r4q4"> <br> <br>  
    
    <br><br><br><br><br>
    <input type="submit"> 
</form> 